<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDf98fPU74Mrv8z8Rmh7h9gYSLd-kBd7nA</string>
	<key>GCM_SENDER_ID</key>
	<string>104118958568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buySellApp</string>
	<key>PROJECT_ID</key>
	<string>intern-intuji</string>
	<key>STORAGE_BUCKET</key>
	<string>intern-intuji.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104118958568:ios:1721f715c8b979e092cc5d</string>
</dict>
</plist>